openapi: 3.1.0
info:
  title: Travis CI REST API v3 Builds Users API
  version: '3'
  description: 'Travis CI v3 REST API for builds, jobs, repositories, organizations, users,

    and logs. Endpoints and authentication derived from

    https://developer.travis-ci.com/.

    '
  contact:
    name: Travis CI
    url: https://developer.travis-ci.com/
servers:
- url: https://api.travis-ci.com
  description: Travis CI (private projects / .com)
- url: https://api.travis-ci.org
  description: Travis CI (open source / .org, legacy)
security:
- TravisToken: []
tags:
- name: Users
paths:
  /user:
    get:
      tags:
      - Users
      summary: Get the current user
      responses:
        '200':
          description: Current user
    patch:
      tags:
      - Users
      summary: Update the current user
      responses:
        '200':
          description: Updated
  /user/{user_id}:
    get:
      tags:
      - Users
      summary: Get a user by id
      parameters:
      - in: path
        name: user_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User
  /user/{user_id}/sync:
    post:
      tags:
      - Users
      summary: Trigger a user sync with GitHub
      parameters:
      - in: path
        name: user_id
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Sync triggered
  /logout:
    get:
      tags:
      - Users
      summary: Log out the current user
      responses:
        '200':
          description: Logged out
components:
  securitySchemes:
    TravisToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based authentication. Header format: `Authorization: token <TOKEN>`

        with `Travis-API-Version: 3`. Tokens for travis-ci.com, travis-ci.org,

        and Enterprise installations are not interchangeable.

        '
