openapi: 3.1.0
info:
  title: Travis CI REST API v3
  version: "3"
  description: |
    Travis CI v3 REST API for builds, jobs, repositories, organizations, users,
    and logs. Endpoints and authentication derived from
    https://developer.travis-ci.com/.
  contact:
    name: Travis CI
    url: https://developer.travis-ci.com/
servers:
  - url: https://api.travis-ci.com
    description: Travis CI (private projects / .com)
  - url: https://api.travis-ci.org
    description: Travis CI (open source / .org, legacy)
security:
  - TravisToken: []
tags:
  - name: Builds
  - name: Jobs
  - name: Repositories
  - name: Organizations
  - name: Users
  - name: Logs
paths:
  /builds:
    get:
      tags: [Builds]
      summary: List builds for the current user
      responses:
        "200":
          description: List of builds
  /repo/{provider}/{repository_id}/builds:
    get:
      tags: [Builds]
      summary: List builds for a repository
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Builds
  /repo/{repository_id}/builds:
    get:
      tags: [Builds]
      summary: List builds for a repository by id
      parameters:
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Builds
  /repo/{provider}/{repository_id}:
    get:
      tags: [Repositories]
      summary: Find a repository
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Repository
  /repo/{repository_id}:
    get:
      tags: [Repositories]
      summary: Find a repository by id
      parameters:
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Repository
  /repo/{repository_id}/activate:
    post:
      tags: [Repositories]
      summary: Activate a repository
      parameters:
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Activated
  /repo/{repository_id}/deactivate:
    post:
      tags: [Repositories]
      summary: Deactivate a repository
      parameters:
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deactivated
  /repo/{repository_id}/star:
    post:
      tags: [Repositories]
      summary: Star a repository
      parameters:
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Starred
  /repo/{repository_id}/unstar:
    post:
      tags: [Repositories]
      summary: Unstar a repository
      parameters:
        - in: path
          name: repository_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Unstarred
  /job/{job_id}:
    get:
      tags: [Jobs]
      summary: Get a job
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job
  /job/{job_id}/cancel:
    post:
      tags: [Jobs]
      summary: Cancel a job
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Cancelled
  /job/{job_id}/restart:
    post:
      tags: [Jobs]
      summary: Restart a job
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Restarted
  /job/{job_id}/debug:
    post:
      tags: [Jobs]
      summary: Debug a job
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Debug started
  /job/{job_id}/log:
    get:
      tags: [Logs]
      summary: Get a job log
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Log
    delete:
      tags: [Logs]
      summary: Delete a job log
      parameters:
        - in: path
          name: job_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
  /user:
    get:
      tags: [Users]
      summary: Get the current user
      responses:
        "200":
          description: Current user
    patch:
      tags: [Users]
      summary: Update the current user
      responses:
        "200":
          description: Updated
  /user/{user_id}:
    get:
      tags: [Users]
      summary: Get a user by id
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User
  /user/{user_id}/sync:
    post:
      tags: [Users]
      summary: Trigger a user sync with GitHub
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Sync triggered
  /logout:
    get:
      tags: [Users]
      summary: Log out the current user
      responses:
        "200":
          description: Logged out
  /org/{organization_id}:
    get:
      tags: [Organizations]
      summary: Find an organization
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Organization
  /org/{organization_id}/suspend:
    post:
      tags: [Organizations]
      summary: Suspend an organization
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Suspended
  /org/{organization_id}/unsuspend:
    post:
      tags: [Organizations]
      summary: Unsuspend an organization
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Unsuspended
  /org/{organization_id}/user_activity:
    get:
      tags: [Organizations]
      summary: Organization user activity
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Activity
components:
  securitySchemes:
    TravisToken:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Token-based authentication. Header format: `Authorization: token <TOKEN>`
        with `Travis-API-Version: 3`. Tokens for travis-ci.com, travis-ci.org,
        and Enterprise installations are not interchangeable.
