openapi: 3.2.0
info:
  title: Travis CI REST API v3 Organizations API
  version: '3'
  description: 'Travis CI v3 REST API for builds, jobs, repositories, organizations, users,

    and logs. Endpoints and authentication derived from

    https://developer.travis-ci.com/.'
  contact:
    name: Travis CI
    url: https://developer.travis-ci.com/
servers:
- url: https://api.travis-ci.com
  description: Travis CI (private projects / .com)
- url: https://api.travis-ci.org
  description: Travis CI (open source / .org, legacy)
security:
- TravisToken: []
tags:
- name: Organizations
paths:
  /org/{organization_id}:
    get:
      tags:
      - Organizations
      summary: Find an organization
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization
      operationId: getOrgByOrganizationId
      x-operation-id-source: derived
  /org/{organization_id}/suspend:
    post:
      tags:
      - Organizations
      summary: Suspend an organization
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Suspended
      operationId: postOrgByOrganizationIdSuspend
      x-operation-id-source: derived
  /org/{organization_id}/unsuspend:
    post:
      tags:
      - Organizations
      summary: Unsuspend an organization
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Unsuspended
      operationId: postOrgByOrganizationIdUnsuspend
      x-operation-id-source: derived
  /org/{organization_id}/user_activity:
    get:
      tags:
      - Organizations
      summary: Organization user activity
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Activity
      operationId: getOrgByOrganizationIdUserActivity
      x-operation-id-source: derived
components:
  securitySchemes:
    TravisToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based authentication. Header format: `Authorization: token <TOKEN>`

        with `Travis-API-Version: 3`. Tokens for travis-ci.com, travis-ci.org,

        and Enterprise installations are not interchangeable.

        '
